.menu{
    display:flex;
    justify-content:space-betweeen;
    background-color: palegoldenrod;
    font-size: 20px;
    font-family: 'Times New Roman';
    color: black;
}

.grid{
    display:flex;
    flex-wrap:wrap;
}

.origami{
    border-radius:20px;
    background-color: cornsilk;
    width:310px;
    font-family: fantasy;
}

body{
    background-color: lemonchiffon;
}