.menu{
    display:flex;
    justify-content:space-betweeen;
    background-color: rgb(243, 234, 138);
    font-size: 20px;
    font-family: 'Times New Roman';
    color: black;
}

.grid{
    display:flex;
    flex-wrap:wrap;
}

.origami{
    border-radius:20px;
    background-color: rgb(250, 249, 245);
    width:310px;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(253, 251, 228);
}